@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 1.7rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    border-radius: 3rem;
    border: 0.4rem solid #fff;

    &:hover {
      cursor: pointer;
      background-color: #8d8d8d;
    }
  }
}

@mixin respond($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
