.login {
  position: relative;
  display: flex;
  height: 100vh;

  &__aside {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.6rem;

    span {
      margin-right: 0.5rem;
    }

    a {
      text-decoration: none;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: linear-gradient(to right, #2e2ed6, #485af0);
    }
  }

  &__container {
    width: 50%;
    display: flex;
    align-items: center;

    &:first-child {
      margin: 0 4rem;
    }

    &:not(:first-child) {
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

  &__logo {
    height: 100%;
    width: 100%;
  }

  &__heading {
    align-self: start;
    font-size: 6rem;
    margin-bottom: 1rem;

    span {
      display: block;
      text-transform: capitalize;
      background-image: linear-gradient(to right, #2e2ed6, #485af0);
      background-clip: text;
      color: transparent;
    }
  }
}
