.login {
  display: flex;
  align-items: center;
  height: 100vh;

  &__container {
    width: 50%;
    display: flex;
    align-items: center;

    &:first-child {
      margin: 0 4rem;
    }

    &:not(:first-child) {
      flex-direction: column;
    }
  }

  &__logo {
    width: 100%;
  }

  &__heading {
    align-self: start;
    font-size: 6rem;
    margin-bottom: 3.5rem;

    span {
      display: block;
      text-transform: capitalize;
      background-image: linear-gradient(to right, #2E2ED6, #485AF0);
      background-clip: text;
      color: transparent;
    }
  }
}