.post-container {
  display: flex;
  flex-direction: column;
  margin: 0 12%;
  margin-top: 1rem;

  @include respond(570px) {
    margin: 0 2%;
    margin-top: 1rem;
  }

  &__button {
    border: none;
    transition: all 0.4s;
    padding: 1rem 1.6rem;
    border-radius: 0.4rem;
    font-size: 1.6rem;

    &--left {
      align-self: flex-start;
      color: #fff;
      background-color: #485af0;

      &:hover {
        cursor: pointer;
        background-color: #2133d1;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.65;
      }
    }

    &--right {
      align-self: flex-end;
      border-radius: 0;
      background-color: transparent;

      &:hover {
        cursor: pointer;
        color: #2133d1;
        background-color: #bbbbd8;
      }
    }
  }

  &__close {
    &-btn {
      position: absolute;
      left: 3%;
      top: 1%;
      font-size: 3rem;
      cursor: pointer;
      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }

    &-icon {
      &:hover {
        color: #e72a2a;
      }
    }
  }
}
