.post-container {
  display: flex;
  flex-direction: column;
  margin: 0 12%;
  margin-top: 1rem;

  &__button {
    border: none;
    transition: all .4s;
    padding: 1rem 1.6rem;
    border-radius: .4rem;
    font-size: 1.6rem;

    &--left {
      align-self: flex-start;
      color: #fff;
      background-color: #485AF0;

      &:hover {
        cursor: pointer;
        background-color: #2133d1;
      }
    }

    &--right {
      align-self: flex-end;
      border-radius: 0;
      background-color: transparent;

      &:hover {
        cursor: pointer;
        color: #2133d1;
        background-color: #bbbbd8;
      }
    }
  }
}