.post {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  border-radius: 0.4rem;
  margin-bottom: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0.2px 0.2px 4px -2px rgba(0, 0, 0, 0.75);

  &__container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__title {
    text-align: center;
    font-size: 3rem;
    color: #403e3e;
  }

  &__avatar {
    margin-right: 1rem;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 10rem;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: fill;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 100;
    color: #8b8b8b;

    &>*:not(:last-child) {
      margin-bottom: 0.4rem;
    }
  }
}