.post-list {
  display: flex;
  justify-content: center;
  margin: 4rem;

  @include respond(800px) {
    margin: 4rem 2rem;
  }

  ul {
    width: 65%;

    @include respond(800px) {
      width: 90%;
    }

    @include respond(550px) {
      width: 100%;
    }

    a {
      text-decoration: none;
    }
  }
}
